html,
body {
   height: 100%;
}
body {
   display: grid;
   place-items: center;
}

main{
background:url(images/Mobile.png); 
width: 375px;
height: 812px;
}
.container{
   max-width:250px;
   margin-right: auto;
   margin-left: auto;
}

h1 {
font-size: 1.5rem;
color: rgb(119, 235, 177);
}

a{
color: rgb(119, 235, 177);
text-decoration: blueviolet;
}

p{
   color:rgb(119, 235, 177);
}